<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2010 Obeo.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Obeo - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/extended/editor/1.0.0"
            class="org.eclipse.emf.eef.extended.editor.provider.EditorItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://www.eclipse.org/emf/eef/mapping/1.0.0"
            class="org.eclipse.emf.eef.extended.editor.provider.EditorItemProviderAdapterFactory$MappingChildCreationExtender"/>
      <extender
            uri="http://www.eclipse.org/emf/eef/components/1.0.0"
            class="org.eclipse.emf.eef.extended.editor.provider.EditorItemProviderAdapterFactory$MappingChildCreationExtender"/>
      <extender
            uri="http://www.eclipse.org/emf/eef/views/1.0.0"
            class="org.eclipse.emf.eef.extended.editor.provider.EditorItemProviderAdapterFactory$ViewsChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/extended/query/1.0.0"
            class="org.eclipse.emf.eef.extended.query.provider.QueryItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/eef/extended/editor/1.0.0"
            class="org.eclipse.emf.eef.extended.editor.EditorPackage"
            genModel="model/extended.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/eef/extended/query/1.0.0"
            class="org.eclipse.emf.eef.extended.query.QueryPackage"
            genModel="model/extended.genmodel"/>
   </extension>
  <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/extended/editor/1.0.0"
            class="org.eclipse.emf.eef.extended.editor.providers.EditorEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/extended/query/1.0.0"
            class="org.eclipse.emf.eef.extended.query.providers.QueryEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.eclipse.emf.eef.extended.editor.providers.EditorPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.eclipse.emf.eef.extended.query.providers.QueryPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

   <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.emf.eef.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.emf.eef.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
         <propertyTab
               label="Documentation"
               category="extended"
               id="Documentation"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               label="Documentation"
               category="extended"
               id="Documentation"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               label="Documentation"
               category="extended"
               id="Documentation"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               label="Documentation"
               category="extended"
               id="Documentation"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               label="Documentation"
               category="extended"
               id="Documentation"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               label="Documentation"
               category="extended"
               id="Documentation"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               label="Documentation"
               category="extended"
               id="Documentation"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               label="Documentation"
               category="extended"
               id="Documentation"
               afterTab="Base">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.eef.properties">
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditingSection"
               id="org.eclipse.emf.eef.extended.editor.section.StandardFormPage"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.extended.editor.StandardFormPage">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditingSection"
               id="org.eclipse.emf.eef.extended.editor.section.StandardFormPage"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.extended.editor.StandardFormPage">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditingSection"
               id="org.eclipse.emf.eef.extended.editor.section.EEFMasterPage"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.extended.editor.EEFMasterPage">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditingSection"
               id="org.eclipse.emf.eef.extended.editor.section.EEFMasterPage"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.extended.editor.EEFMasterPage">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditingSection"
               id="org.eclipse.emf.eef.extended.editor.section.TreeMasterPage"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.extended.editor.TreeMasterPage">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditingSection"
               id="org.eclipse.emf.eef.extended.editor.section.TreeMasterPage"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.extended.editor.TreeMasterPage">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditingSection"
               id="org.eclipse.emf.eef.extended.editor.section.PartFilter"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.extended.editor.PartFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditingSection"
               id="org.eclipse.emf.eef.extended.editor.section.PartFilter"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.extended.editor.PartFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditingSection"
               id="org.eclipse.emf.eef.extended.editor.section.EEFEditorContributions"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.extended.editor.EEFEditorContributions">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditingSection"
               id="org.eclipse.emf.eef.extended.editor.section.EEFEditorContributions"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.extended.editor.EEFEditorContributions">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditingSection"
               id="org.eclipse.emf.eef.extended.editor.section.EEFEditorPages"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.extended.editor.EEFEditorPages">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditingSection"
               id="org.eclipse.emf.eef.extended.editor.section.EEFEditorPages"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.extended.editor.EEFEditorPages">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditingSection"
               id="org.eclipse.emf.eef.extended.editor.section.StaticEEFEditorContribution"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.extended.editor.StaticEEFEditorContribution">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditingSection"
               id="org.eclipse.emf.eef.extended.editor.section.StaticEEFEditorContribution"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.extended.editor.StaticEEFEditorContribution">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditingSection"
               id="org.eclipse.emf.eef.extended.editor.section.DynamicEEFEditorContribution"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.extended.editor.DynamicEEFEditorContribution">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditingSection"
               id="org.eclipse.emf.eef.extended.editor.section.DynamicEEFEditorContribution"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.extended.editor.DynamicEEFEditorContribution">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditingSection"
               id="org.eclipse.emf.eef.extended.query.section.OCLQuery"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.extended.query.OCLQuery">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditingSection"
               id="org.eclipse.emf.eef.extended.query.section.ExplicitPathQuery"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.extended.query.ExplicitPathQuery">
             </input>
         </propertySection>
      </propertySections>
   </extension>
</plugin>
